numpy==1.19.5
scipy==1.6.1
joblib==1.0.1
# Cython==0.29.10
pandas==1.2.2
scikit-learn==0.24.1
wfdb==3.2.0
opencv-python
packaging
easydict
# torch==1.6.0  # see Dockerfile
# torchaudio==0.6.0  # see Dockerfile
torchsummary
tensorboardX
tqdm
deprecated
torch_optimizer
librosa
kaldi-io
IPython
